<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233393660914-edr1gr5ke5smrr95v9clpe1d8g7r15d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233393660914-edr1gr5ke5smrr95v9clpe1d8g7r15d5</string>
	<key>API_KEY</key>
	<string>AIzaSyCnTiu_Lwhy-MbcunwI7tdfKIa0EPFZuOs</string>
	<key>GCM_SENDER_ID</key>
	<string>233393660914</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mikeinvents.justBored</string>
	<key>PROJECT_ID</key>
	<string>just-bored</string>
	<key>STORAGE_BUCKET</key>
	<string>just-bored.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233393660914:ios:5c207b2e6de31708e7816b</string>
</dict>
</plist>